<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BravoTeam Project</title>

    <!-- IconScout -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!-- CSS Style Sheet -->
    <link rel="stylesheet" href="style.css">

    <!-- Awesome Fonts -->
    <script src="https://kit.fontawesome.com/a74d20a4cd.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/c7c9c0be45.js" crossorigin="anonymous"></script>


</head>

<body>

    <nav>
        <div class="container">
            <h2 class="logo">
                PhotoSnap
            </h2>
            <form class="search" action="/searchUser" method="GET">
                <div class="search-user-bar">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="search" class="search" name=username id="search-user" class="domTextElement" 
                    placeholder="Search for username"> 
                    <button style="cursor: pointer;">Search</button> 
                </div>
            </form>

            <div class="create">
                <a href="/logout" class="btn btn-primary">Log out</a>
                <% if(!user.profilePicture) { %>
                    <div class="no-profile-photo">
                        <a href="/user/<%= user.username %>"><i class="fa-regular fa-user"></i></a>
                    </div>
                <% } else { %> 
                <div class="profile-photo">
                    <a href="/user/<%= user.username %>">
                    <img src="/profilePicture/<%= user.profilePicture %>" alt="profile-photo"></a>
                </div>
                <!-- menu button to show sidebar -->
                <% } %>
                <button id="menu-btn"><i class="uil uil-bars"></i></button>
            </div>
            </div>
        </div>
    </nav>